[submodule "osu.Shared"]
	path = osu.Shared
	url = https://github.com/ilsubyeega/osu.Shared
[submodule "osu"]
	path = osu
	url = https://github.com/ilsubyeega/osu
[submodule "HOPEless"]
	path = HOPEless
	url = https://github.com/ilsubyeega/HOPEless
